@font-face {
	font-family: ColangoSans;
	src: url(colango_fonts/ColangoSansWeb.woff2) format("woff2"),
		url(colango_fonts/ColangoSansWeb.woff) format("woff"),
		url(colango_fonts/ColangoSansWeb.ttf) format("truetype"),
	font-weight: 400;
	font-style: normal
}

/* 应用到正文 */
body {
    font-family: 'ColangoSans' !important;
    font-size: 120%;
#    line-height: 1.5 !important; /* 增加行高，防止文字拥挤 */
}

